{% extends "base.html.twig" %}

{% block content %}
<form method='POST' action='/produkt'>
	<input type='text' name='text'>
	<input type='submit' value='wyslij'>
</form>

	{% for a in framework %}
		{{ a.nazwa }}
	
	{% endfor %}
{% endblock %}